
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    box-shadow: border-box;
   
    
}
body{
    box-shadow: border-box;
    overflow-x: hidden;
   
}
.navbar{
    background-color: #2B4896;
   
   
}
.App{

    
}
.loginList:hover{
    background-color: rgb(230, 230, 230);
}
.LoginBtn:hover{
    background-color: rgb(41, 72, 196);
}
.container1{
    margin-top: 4.5rem;
}
.sidebarHeight{
    height: 35rem;
}